body {
    padding-top: 50px;
}

div {
    width: 200px;
    height: 200px;
}

.red {
    background-color: rgb(255, 108, 108);
    z-index: 1;
} 

.blue {
    background-color: rgb(93, 93, 255);
    z-index: 2;
    position: absolute;
    left: 150px;
    top: 150px;
}

.green {
    background-color: rgb(121, 255, 121);
    z-index: 1;
    position: absolute;
    left: 300px;
    top: 250px;
}